{% extends "./front/layout.html.twig" %}

{% block title %}
{{ parent() }}        
{% endblock %}
 {% block stylesheets %}
        {{ parent() }}
        {% endblock %}

{% block main %}
        {% if  session.error_message is not null %}
            <div class="alert">
            <p>{{ session.error_message }}</p>
            <i class="fa-solid fa-xmark"></i>
            </div>
        {% endif %}
    <h1>Page d'accueil</h1>
{% endblock %}
