{% extends "./front/layout.html.twig" %}

{% block title %}
{{ parent() }}        
{% endblock %}
 {% block stylesheets %}
        {{ parent() }}
        {% endblock %}

{% block main %}
    <h1>Page d'accueil</h1>
{% endblock %}
