{% extends "./front/layout.html.twig" %}

{% block title %}
{{ parent() }}        
{% endblock %}
 {% block stylesheets %}
        {{ parent() }}
        {% endblock %}

{% block main %}
    {% block erreur %}
        <p>{{ session.error_message }}</p>
        <p>{{ session.message }}</p>
    {% endblock %}
    <h1>Page d'accueil</h1>
{% endblock %}